<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">
 
<beans>
	<bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">		
		<property name="location">
			<value>conf/smsMail.conf</value>
		</property>
				
		<property name="fileEncoding">
			<value>utf-8</value>
		</property>		
	</bean>

	<bean id="log4jInitialization"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass" value="org.springframework.util.Log4jConfigurer" />
		<property name="targetMethod" value="initLogging" />
		<property name="arguments">
			<list>
				<value>conf/log4j.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="sqlManager" class="com.dlk.sweb.dao.SQLManager"
		init-method="init">
		<property name="sqlFile">
			<value>conf/sql.conf</value>
		</property>
	</bean>

	<bean id="baseDao" class="com.dlk.sweb.dao.GeneralDAO">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="sqlManager">
			<ref bean="sqlManager" />
		</property>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>${sql.server.db.driver}</value>
		</property>
		<property name="url">
			<value>${sql.server.db.url}</value>
		</property>
		<property name="username">
			<value>${sql.server.db.username}</value>
		</property>
		<property name="password">
			<value>${sql.server.db.password}</value>
		</property>
	</bean>

</beans> 