<component name="ArtifactManager">
  <artifact type="war" name="spring-oauth:war">
    <output-path>$PROJECT_DIR$/spring-oauth/target</output-path>
    <root id="archive" name="spring-oauth-1.0.0.war">
      <element id="artifact" artifact-name="spring-oauth:war exploded" />
    </root>
  </artifact>
</component>