<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-oauth:war exploded">
    <output-path>$PROJECT_DIR$/spring-oauth/target/spring-oauth-1.0.0</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-oauth" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="D:\Repo\MavenUtils\spring-oauth\target/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-oauth/web/Web" />
    </root>
  </artifact>
</component>